<head>
<title>GVC team 4 2010</title>
<style type="text/css">
#cdiv {
border: 1px solid #BDBDBD;
padding-left: 5px;
}
</style>
</head>

<div id="cdiv">
<h1>GVC Team 4 2010</h1><br />

// REMOVE ME IF YOU USE THIS CODE
<%= link_to "Administrator Info", "http://gvc1004.heroku.com/articles/5" %>
// REMOVE ME IF YOU USE THIS CODE

<% @articles.each do |article| %>
    <h3><%= link_to article.title, article %></h3>
<% end %>
</div>

<br />
